html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F2;
}

img {
    display: block;
}

.header {
    height: 75px;
    background-color: #436075;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo {
    height: 54px;
}

.nav {
    display: flex;
    align-items: center;
}

.menuitem {
    padding-left: 25px;
}

.info {
    width: 40px;
}

.doc {
    width: 45px;
}

.med {
    width: 45px;
}

/* Main */

main {
    padding: 0 25px;
}

h1 {
    color: #436075;
    text-align: center;
    padding: 35px 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.ravim {
    font-weight: 600;
}

.para {
    padding: 20px 0px;
    color: #436075;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

}

.btnsect {
    margin-top: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #087990;
    border-radius: 10px;
    border-style: none;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 60px;
    background-color: #E9ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment {
    display: flex;
    justify-content: center;
}

input {
    padding: 17px 50px;
    margin: 0 auto;
}
.background {
    background-image: url(/esilehetaust.png);
    background-size: cover;
    background-repeat: no-repeat;
      min-height: 100vh;
background-position: 61% center;
}
.fp-main {
    padding: 25px;
    height: calc(100vh - 75px);
}
.fp-card {
    background-color: hsl(0deg 0% 97% / 60%);
    height: 100%;
    border-radius: 20px;
}