/*---- global ----*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F2;
}

main {
    padding: 0 30px;
}

h1 {
    color: #436075;
    padding: 55px 0 10px;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 36px;
}

p {
    padding-top: 10px;
    padding-bottom: 30px;
    color: #436075;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
}

.btnsect {
    margin-top: 70px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-weight: 400;
    font-size: 20px;
    color: #087990;
    border-radius: 10px;
    border-style: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 60px;
    background-color: #E9ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*---- frontpage.html ----*/

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F8F4F2;
    z-index: 200;
    transition: opacity 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splashlogo {
    width: 50%;
}

.splashbutton {
    margin-top: 70%;
}

a {
    text-decoration: none;
}

.background {
    background-image: url(assets/esilehetaust.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: 61% center;
}

.fp-main {
    padding: 40px 30px;
    height: calc(100vh);
}

.fp-card {
    background-color: hsl(0deg 0% 97% / 60%);
    height: 100%;
    border-radius: 20px;
}

.fp-btns {
    padding-top: 20px;
}

.fp-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.fp-h1 {
    padding: 85px 40px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

/*---- haiguslugu.html ----*/

.inactive {
    opacity: 0.6;
}

/*---- raviskeem.html ----*/


/*---- lemmikuinfo.html ----*/

.petname {
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 10px;
}


/*---- index.html ----*/

.petslogocontainer {
    display: flex;
    justify-content: center;
    margin: 45px 0;

}

.petslogo {
    width: 100px;
}

.petscontainer {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.indexbtn {
    width: 170px;
}


/*---- footer ----*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 55;
    background: #F8F4F2;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

.footerfill {
    height: 50px;
}