/*---- global ----*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F2;
}

main {
    padding: 0 30px;
}

h1 {
    color: #436075;
    padding: 10px 0 10px;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 36px;
}

p {
    padding-top: 10px;
    padding-bottom: 30px;
    color: #436075;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
}

.btnsect {
    margin-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #087990;
    border-radius: 5px;
    border-style: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 60px;
    background-color: #E9ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.petstories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 13px 0;
}

.storysize {
    width: 50px;
}

/*-- Header --*/

header {
    position: fixed;
    width: 100%;
    background-color: #F8F4F2;
    height: 90px;
    margin: 0;
}

.headerfill {
    height: 90px;
}

/*---- frontpage.html ----*/

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F8F4F2;
    z-index: 200;
    transition: opacity 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splashlogo {
    width: 50%;
}

a {
    text-decoration: none;
}

.background {
    background-image: url(assets/esilehetaust.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: 61% center;
}

.fp-main {
    padding: 40px 30px;
    height: calc(100vh);
}

.fp-card {
    background-color: hsl(0deg 0% 97% / 60%);
    height: 100%;
    border-radius: 20px;
}

.fp-btns {
    padding: 20px;
}

.fp-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.fp-h1 {
    padding: 85px 60px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.addpet {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    margin-top: 30px;
}

/*---- haiguslugu.html ----*/

.inactive {
    opacity: 0.6;
}

/*---- raviskeem.html ----*/


/*---- lemmikuinfo.html ----*/

.petname {
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 10px;
    padding-left: 11px;
}


/*---- index.html ----*/

.petslogocontainer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.petslogo {
    width: 35%;
}

.petscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.indexbtn {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 60px;
    margin-left: -30px;
}
.calender {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.petpic {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.petinfo {
    padding-left: 11px;
}

.addpet {
    background-color: #436075;
    color:white;
}

.addpetbutton {
    max-width: 100%;  
    z-index: 1;
}

/*---- ADD ----*/
@
input, select, .add-button {
    font-family: 'Montserrat', sans-serif;
    color: #436075;
    font-size: 14px;
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F2;
}

.inner form {
    width: %;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    margin-bottom: 28px;
    color: #436075;
}

.form-group {
    display: flex;
}

.form-group input {
    width: 50%;
}

.form-group input:first-child {
    margin-right: 25px;
}

.form-wrapper {
    position: relative;
}

.form-control{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
}



/*---- footer ----*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 55;
    background: #F8F4F2;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

